$blueDark: #0D58A6;
$greenDark: #369100;
$green: #35D4A0;
$greenLight: #9CEF6C;
$white: #fff;
$black: #000;

// Green Body Color
body { 
	background-color: $green;
}

// Eliminates default blue for links
a {
	color: $black;
	text-decoration: underline;
	&:hover {
		color: $greenDark;
	}
}

// Smaller H1 font size
h1 {
	font-size: 26px;
}

// Header Styling
header {
	background-color: $blueDark;
	height: auto;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.7);
	.button-group {
		margin-top: 50px;
	}
}

// This is for white boxes
.content {
	border-radius: 6px;
	padding: 8px;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px 0px 5px 3px rgba(50, 50, 50, 0.7);
	box-shadow:         0px 0px 5px 3px rgba(50, 50, 50, 0.7);
}

// Simple navigation styling
ul.navigation {
	list-style: none;
	margin: 0 0 10px 0;
	li {
		border-bottom: 1px solid gray;
		a {
			text-decoration: none;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

// Currently empty, will have more later
footer {
	background-color: $blueDark;
	height: 200px;
	margin-top: 20px;
	-webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.7);
	-moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.7);
	box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.7);
}
// Phone size query
@media (max-width:640px) {
	header {
		height: auto;
		img {
			margin: 10px auto 0;
			display: block;
		}
		.small-12 {
			padding: 0 auto;
			text-align: center;
			.button-group {
				margin-top: 10px;
				display: inline-block;
				a {
					margin-bottom: 10px;
				}
			}
		}
	}
}