body {
  background-color: #35D4A0; }

header {
  background-color: #0D58A6;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.7); }
  header .login {
    float: right;
    padding: 60px 30px 0 0; }

.content {
  margin: 30px;
  border-radius: 6px;
  padding: 8px;
  background-color: #FFF; }

footer {
  background-color: #0D58A6;
  height: 300px;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.7); }
